/*.perfil-wrapper {
    padding: 20px 0;
}
*/
.perfil-layout {
    display: flex;
    gap: 20px;
   flex-wrap: wrap;
}


.perfil-sidebar {
    background: #ffffff;
    border-radius: 12px;
    padding: 15px;
}

.sidebar-nav .sidebar-item {
    font-weight: 500;
    padding: 10px 12px;
    border-radius: 8px;
    cursor: pointer;
}

.sidebar-nav .sidebar-item.active,
.sidebar-nav .sidebar-item:hover {
    background: #f0f0f0;
}

.perfil-main {
    width: 100%;
}

.perfil-foto {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.clean-card {
    background: #fff;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.06);
}

.section-title {
    font-size: 1.4rem;
    font-weight: 600;
}
#ContendorDePerfil{
    width: auto;
    max-width: auto;
    overflow-x: hidden;
    box-sizing: border-box;
   }

.contenedor-listas {
    width: 100%;
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.06);
}

.servicio-card {
    border-radius: 12px;
    background: #fff;
    padding: 15px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.07);
    min-height: 280px;
    display: flex;
    flex-direction: column;
}

.servicio-img {
    width: 100%;
    height: 150px;
    background: #ddd;
    border-radius: 8px;
    object-fit: cover;
}

.comunidad-card {
    border-radius: 12px;
    background: #fff;
    padding: 15px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.07);
    min-height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-word;
    height: 480px; 
}
#Btns{
    margin-top: auto;
    padding-top: 12px;
}

.comunidad-img {
    width: 100%;
    height: 150px;
    background: #ddd;
    border-radius: 8px;
    object-fit: cover;
}

.comunidad-botones button,
.comunidad-botones a,
.servicio-card button {
    padding: 6px 10px;
    border-radius: 8px;
}
.badge-nutrition {
  background-color: rgb(94, 219, 94) !important;
}

.badge-fitness {
  background-color: rgb(91, 93, 93) !important;
}

.badge-development {
  background-color: orange !important;
}


@media (max-width: 992px) {
    .perfil-layout {
        flex-direction: column;
    }
    
    .perfil-sidebar {
        width: 100%;
    }
}



#tab-perfil .perfil-card {
    display: flex;
    flex-direction: column;
    align-items: center;  
    text-align: center;   
}

.perfil-info {
    width: 100%;
    text-align: center;
}

.info-title,
.info-text,
.perfil-autor {
    text-align: center;
}