<app-header></app-header>

<div class="container">
    <br>
    <div class="row">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
                    type="button" role="tab" aria-controls="pills-home" aria-selected="true">Comunidades</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
                    type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Crear
                    Comunidades</button>
            </li>
        </ul>


        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
                tabindex="0">
                <div class="row">
                    <ng-component>
                    <div *ngFor="let comunidad of comunidades"
                        class="mostrarCont col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                        <div class="card">
                            <img src="/imagenes/static/imgGymUno.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{comunidad.name}}</h5>
                                <p class="card-text">{{comunidad.description}}</p>
                                <h6>Tematica:</h6>
                                <p class="card-text">{{comunidad.category}}</p>
                                <a [routerLink]="['/servicios', comunidad.id]" class="btn btn-primary">Ver más</a>
                                <a type="button" class="btn btn-primary" data-bs-target="#modalActualizar"
                                    id="botonconfiguracion" data-bs-toggle="modal" *ngIf="rol.includes('ROLE_ADMIN')"
                                    (click)=abrirModal(comunidad)>⚙️</a>
                            </div>
                        </div>
                    </div>
                    </ng-component>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"
                tabindex="0">
                <div class="row" id="contenedorCrear">
                    <div class="mostrarCont col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="mb-3">
                            <label for="nuevaPublicacionPersonal" class="form-label">Nombre de la comunidad</label>
                            <input type="text" class="form-control" [(ngModel)]="nuevaComunidad.name"
                                name="nombreNueva" placeholder="Describe el contenido, por favor">
                        </div>
                        <div class="mostrarCont col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
                            <label for="exampleFormControlTextarea1" class="form-label">Descripción del
                                contenido</label>
                            <textarea class="form-control" [(ngModel)]="nuevaComunidad.description"
                                id="exampleFormControlTextarea1" rows="5" name="descripcionNueva"
                                placeholder="Descripción de lo que desees comentarnos. Con todo gusto te escuchamos."></textarea>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Temática</label>
                        <select class="form-control" name="tematicaNueva" [(ngModel)]="nuevaComunidad.category">
                            <option value="">Seleccione</option>
                            <option value="FITNESS">Fitness</option>
                            <option value="NUTRITION">Nutrición</option>
                            <option value="PERSONAL_DEVELOPMENT">Desarrollo personal</option>
                        </select>
                    </div>

                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="mb-3">
                            <label for="formFileMultiple" class="form-label">Seleccionar varios archivos</label>
                            <input class="form-control" type="file" id="formFileMultiple" multiple>
                        </div>

                        <button type="button" class="btn btn-primary" (click)="crearComunidad()">Crear</button>

                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalActualizar" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title">Actualizar comunidad</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>

                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label id="nombreModal">Nombre</label>
                                <input [(ngModel)]="comunidadEditar.nombre" name="nombre" class="form-control" />
                            </div>
                            <div class="mb-3">
                                <label id="descripcionModal">Descripción</label>
                                <input [(ngModel)]="comunidadEditar.descripcion" name="descripcion"
                                    class="form-control" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Temática</label>
                                <select class="form-control" [(ngModel)]="comunidadEditar.tematica" name="tematica">
                                    <option value="">Seleccione</option>
                                    <option value="ACTIVIDAD_FÍSICA">Actividad física</option>
                                    <option value="COACH_DEPORTIVO">Coach deportivo</option>
                                    <option value="NUTRICIÓN">Nutrición</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Tipo</label>
                                <select class="form-control" [(ngModel)]="comunidadEditar.tipo" name="tipo">
                                    <option value="">Seleccione</option>
                                    <option value="CHAT_GRUPAL">Chat Grupal</option>
                                    <option value="GRUPO">Grupo</option>
                                    <option value="COMUNIDAD">Comunidad</option>
                                    <option value="GRAN_COMUNIDAD">Gran Comunidad</option>
                                </select>

                            </div>
                        </form>
                    </div>

                    <div class="modal-footer">

                        <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button class="btn btn-primary" data-bs-target="#modalEliminar" data-bs-toggle="modal">Eliminar
                            comunidad</button>
                        <button class="btn btn-primary" (click)="actualizarComunidad(comunidadEditar)">Guardar
                            cambios</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalEliminar" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title">¿Estas seguro de eliminar la comunidad?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>

                    <div class="modal-body">
                        <p>Vas a eliminar <strong>{{comunidadseleccionada?.nombre}}, esta acción no tiene marcha atras y
                                no se podran recuperar los datos</strong>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-bs-dismiss="modal">Cancelar, desisto de mi acción</button>
                        <button class="btn btn-danger" (click)="eliminarComunidad()" data-bs-dismiss="modal">Estoy
                            seguro, eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<app-footer></app-footer>