:root {
    --primary: #f53730;
    --secondary: #ff6f61;
    --bg: #f4f4f4;
    --card: #fff;
    --text: #222;

    --grey-btn: #d9d9d9;
    --grey-btn-hover: #bfbfbf;
    --grey-btn-border: #909090;
}

[data-theme="dark"] {
    --bg: #0f0f0f;
    --card: #111;
    --text: #eaeaea;
}

body {
    background: var(--bg);
    color: var(--text);
    font-family: Poppins, system-ui;
}



.container-main {
    max-width: 1100px;
    margin: 0 auto;
}

.search-input {
    width: 240px;
}

#btnCrear {
    width: 200px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.card-comm {
    background: var(--card);
    border-radius: 12px;
    height: 450px;
    padding: 14px;
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.14);
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-word;
}

.comm-img {
    height: 140px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.footer {
    background: linear-gradient(90deg, var(--primary), var(--secondary));
    color: white;
    padding: 18px 12px;
    margin-top: 36px;
    border-radius: 12px 12px 0 0;
}

.btn-grey,
.btn-grey-sm {
    background: var(--grey-btn);
    color: #000;
    border: 1px solid var(--grey-btn-border);
    transition: 0.2s ease;
}

.btn-grey:hover,
.btn-grey-sm:hover {
    background: var(--grey-btn-hover);
}

.btn-grey {
    padding: 60px 140;
    font-size: 0.9rem;
}

.card-comm {
    background: var(--card);
    border-radius: 12px;
    height: 450px;
    padding: 14px;
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.14);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



#botones {
    margin-top: auto;
    padding-top: 12px;
}

#botonAjustes{
    border: solid 1px gray;
}

.btn-grey-sm {
    padding: 4px 10px;
    font-size: 0.8rem;
}
.badge-nutrition {
  background-color: rgb(94, 219, 94) !important;
}

.badge-fitness {
  background-color: rgb(91, 93, 93) !important;
}

.badge-development {
  background-color: orange !important;
}

main.container-main {
    margin-bottom: 450px;
    margin-top: 70px;
}