main {
  flex: 1;
}

main div.row {
  margin-top: 20px;
  background-color: rgba(42, 80, 102, 0.158);
  padding-top: 20px;
  padding-bottom: 20px;
}

main div.container div.card {
   border-radius: 10px;
}

#subirServicio {
    margin-top: 20px;
}

#ServiciOnline {
    margin-left: 90%
}

.card {
    height: 500px;
    width: 100%;
    padding-bottom: 1px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 10px;
    display: flex;
}
#botonconfiguracion{
    margin-top: 50px;
}
#botonEliminar{
    margin-top: 50px;
    background-color: red;
    border-color: red;
}
#modal{
    margin-top: 100px;
    }
a.btn-primary {
    width: 90px;
    height: 40px;
    position: absolute;
    top: 5px;
}


#contenedorCrear{
    background-color: rgba(60, 140, 186, 0.5);
    border: solid 1px black;
    border-radius: 10px;
    color: black;
    padding: 15px;
}
.btones {
    background-color: azure;
}
.form-control{
    border: solid 1px black;
}
.footer-bottom {
  border-top: 1px solid var(--border);
  text-align: center;   
  padding: 1rem;
  font-size: 0.875rem;
  color: var(--muted);
}
label{
color: white;
}


@media (max-width: 991px) and (min-width: 500px) {
    .mostrarCont {
        margin-top: 10px;
    }
    
}

@media (max-width: 499px) {
    .mostrarCont {
        margin-top: 10px;
    }
}