body {
  font-family: Arial, sans-serif;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  width: 400px;
  min-height: 400px;
  background-color: rgba(234, 233, 233, 0.721);
  backdrop-filter: blur(6px);
  border-radius: 200x;
  box-shadow: 0 0 60px rgba(8, 8, 8, 0.3);
  padding: 30px;
  margin: 40px auto;
   border-radius: 30px;
  padding: 30px;
  box-shadow: 10px 10px 60px #F53730;
  border:solid 1px black ;
}
.formulario-angosto label,

.formulario-angosto h2 {
  color: #000000; /* Totalmente negro */
  font-weight: bold;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 1vh;
}

/* input.form-control {
  border-radius: 20px;
  padding: 10px 15px;
  border: 1.8px solid #040404;
  transition: border-color 0.3s ease;
} */

#button{
color: #f2f4f5;
border:solid 1px black ;
font-weight: bold;
padding: 7px;
background-color: #F53730;

}
#logo{
width: 150px;
margin-left: calc(50% - 75px);

}   