.contenedor-registro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #ffffff;
}

.card-registro {
  width: 380px;
  background: #f8f8f8;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 40px rgba(255, 0, 0, 0.25);
  text-align: center;
  border: 1px solid #ddd;
}

.logo-registro {
  width: 120px;
  margin-bottom: 10px;
}

.titulo-registro {
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 700;
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #bdbdbd;
  margin-bottom: 15px;
  background: white;
  font-size: 14px;
}

.input:focus {
  outline: none;
  border-color: #ff4646;
  box-shadow: 0 0 5px rgba(255, 70, 70, 0.3);
}

.btn-siguiente {
  width: 100%;
  padding: 10px;
  background: #ff4343;
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.btn-siguiente:hover {
  background: #d93636;
}

.btn-registrar {
  width: 100%;
  padding: 10px;
  background: #ff4646;
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}

.btn-registrar:hover {
  background: #f53730;
}

.btn-volver {
  width: 100%;
  padding: 10px;
  background: #777;
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.btn-volver:hover {
  background: #555;
}

label {
  display: block;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}

.logo-registro-form {
  width: 130px;       
  margin: 0 auto 15px;
  display: block;
  object-fit: contain;
}