<app-header></app-header>

<main class="container-main">
  <h2>Servicios Deportivos</h2>

  <div class="actions-bar">
    <button class="btn btn-danger" (click)="openModal()">
      ➕ Crear Servicio
    </button>
  </div>


  <div class="services-grid">
    <div class="card-comm" *ngFor="let s of servicios">
      <img class="comm-img" [src]="s.imageUrl || 'https://images.unsplash.com/photo-1518611012118-f0c5a4c0bf5d'">
      <h3>{{ s.name }}</h3>
      <p>{{ s.description }}</p>
      <button class="btn-more" [routerLink]="['/servicios', idComunidad]">
        Ver más
      </button>

    </div>
  </div>
</main>


<div class="modal fade" #modalServicio tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Crear Servicio</h5>
        <button type="button" class="btn-close" (click)="closeModal()"></button>
      </div>

      <div class="modal-body">
        <div class="mb-3">
          <label class="form-label">Nombre</label>
          <input type="text" [(ngModel)]="formServicio.name" class="form-control">
        </div>

        <div class="mb-3">
          <label class="form-label">Descripción</label>
          <textarea [(ngModel)]="formServicio.description" class="form-control"></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label">Asignar servicio a</label>
          <select [(ngModel)]="formServicio.userId" class="form-select">
            <option value="">Seleccione un usuario...</option>
            <option *ngFor="let u of miembrosComunidad" [value]="u.id">
              {{ u.username }}
            </option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label">Tipo</label>
          <select [(ngModel)]="formServicio.type" class="form-select">
            <option value="">Seleccione...</option>
            <option value="ACTIVIDAD_FISICA">Actividad Física</option>
            <option value="NUTRICION">Nutrición</option>
            <option value="DEPORTE">Deporte</option>
          </select>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="guardarModal()">Crear</button>
      </div>

    </div>
  </div>
</div>

<app-footer></app-footer>