<app-header></app-header>

   <div class="contenedor-servicios" *ngIf="!viendoServicio">

  <h2 class="titulo">Tus servicios</h2>

  <div class="cards-servicios">

    <div class="card-servicio" *ngFor="let s of servicios">
      <h3>{{ s.nombre }}</h3>
      <p class="coach">Asesor: {{ s.coach }}</p>
      <p class="desc">{{ s.descripcion }}</p>
      <button class="btn-ver" (click)="verServicio(s)">Ver</button>
    </div>

  </div>

</div>





<div class="vista-detalle" *ngIf="viendoServicio">

  <button class="btn-volver" (click)="volver()">↩ Volver</button>

  <h2>{{ servicioActual.nombre }}</h2>
  <p class="coach">Asesor: {{ servicioActual.coach }}</p>

  <div class="grid-detalle">

    <div class="card-detalle">
      <h3>Notas de progreso</h3>

      <div class="lista-notas">
        <div class="nota" *ngFor="let n of servicioActual.notas">
          <p>{{ n.texto }}</p>
          <small>{{ n.fecha | date:'short' }}</small>
        </div>
      </div>

      <div class="agregar-nota">
        <input type="text" [(ngModel)]="nuevaNota" placeholder="Nueva nota...">
        <button (click)="agregarNota()">Añadir</button>
      </div>
    </div>

    <div class="card-detalle">
      <h3>Gráficas de progreso</h3>

      <div class="grafica-placeholder">
        📈 Gráfica de ejemplo  
        <br><small>(Aquí pondrás tus gráficas reales)</small>
      </div>

    </div>

  </div>

</div>


    <app-footer></app-footer>